@charset "utf-8";

.wrapper{
  position: relative;
  height: 4000px;
}
.inner{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
header{
  background: red;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}
h1{
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box;
}
ul{
  float: right;
  overflow: hidden;
}
ul li{
  float: left;
  padding: 10px;
}
ul li a{
  display: block;
  text-align: center;
  line-height: 20px;
}


